# Copyright (C) 2022, Gauthier Leonard
# See the file LICENSE for licensing terms.
---
avalanchego_version: 1.10.3
avalanchego_network_id: local

avalanchego_http_host: 0.0.0.0
avalanchego_https_enabled: false
avalanchego_https_local_certs_dir: "{{ inventory_dir }}/../../files/https"

avalanchego_staking_use_local_certs: true
avalanchego_staking_local_certs_dir: "{{ inventory_dir }}/../../files/staking"

avalanchego_vms_install: []

avalanchego_track_subnets: []
