# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2022-2023, E36 Knots
---
prometheus_scrape_configs:
  - job_name: avalanchego
    metrics_path: /ext/metrics
    static_configs:
      - targets:
          - "{{ hostvars['validator01'].ansible_host }}:9650"
          - "{{ hostvars['validator02'].ansible_host }}:9650"
          - "{{ hostvars['validator03'].ansible_host }}:9650"
          - "{{ hostvars['validator04'].ansible_host }}:9650"
          - "{{ hostvars['validator05'].ansible_host }}:9650"
  - job_name: avalanchego-machine
    static_configs:
      - targets:
          - "{{ hostvars['validator01'].ansible_host }}:9100"
          - "{{ hostvars['validator02'].ansible_host }}:9100"
          - "{{ hostvars['validator03'].ansible_host }}:9100"
          - "{{ hostvars['validator04'].ansible_host }}:9100"
          - "{{ hostvars['validator05'].ansible_host }}:9100"
        labels:
          alias: machine
